body{background: url("../img/background.jpg"); background-size:cover; background-attachment: fixed; background-repeat: no-repeat; }

	#modal{position: fixed; margin-top: 100px; margin-left: 450px; display: none;}
		#modal img{float: left;}

	#heading{z-index: 10; width:100%; height:80px; background-color: rgba(78,44,44,1); background-size: 100% 100%; display: block; position: fixed; padding-left:10px;}
			#heading #nav{float:right; width:600px; height: 80px;}
					#heading #nav a{padding-top:30px; height:63%; float:left; margin-right:50px; font-size:20px; font-family:Lucida Console; font-weight:bold;text-decoration:none; color:#FFFFFF;}
					#heading #nav .currPart{background-color:rgba(60,30,30,1);}


	#Home{width:100%; height:700px; padding-top:80px; background-color:rgba(0,0,0,0.2); display:block; overflow: auto; }
		#Home #self{width:100%; height:20%; display: block; padding-top:20px; padding-left:150px;}
			#Home #self #name{display:block;}
				#Home #self #name h1{color:#FFFFFF; font-size: 56px;}
				#Home #self #name h2{color:#FFFFFF; font-size: 40px;}
			#Home #self #intro{margin-left:20px;float: left; height: 400px; width: 30%;}
				#Home #self #intro p{color:#FFFFFF; margin-left: 20px; font-size: 30px;}
			#Home #self #pic-outer{float: left;height:400px; width: 300px;}
				#Home #self #pic-outer #pic-inner img{height:350px; width: 250px; opacity: 0.8;z-index: 1;}
					#Home #self #pic-outer #pic-inner .ImgShow{}
					#Home #self #pic-outer #pic-inner .ImgHidden{display: none;}
				#Home #self #pic-outer #button #next{float: right; margin-right: 50px;}
			#Home #self #video{margin-left:20px;float: left; width: 30%; height: 400px; }

	#Background{width:100%; height:700px; background-color:rgba(0,0,0,0.2); display:block; overflow: auto; padding-top: 150px;}
	#Background h1{color: #000000;}
		#Background #project1
		{
			float: left; width: 25%; height: 300px; margin-left: 5%; background: rgba(0,0,0,0.6);
			position: relative;
			padding-left:10px;
			padding-right: 10px;
    		-webkit-animation-name: myfirst;
    		-webkit-animation-duration: 2s;
    		-webkit-animation-timing-function: linear;
   			-webkit-animation-iteration-count: infinite;
    		-webkit-animation-direction: alternate;
    		-webkit-animation-play-state: running;
		}
		#Background #project2
		{
			float: left; width: 25%; height: 300px; margin-left: 5%; background: rgba(0,0,0,0.6);
			padding-left:10px;
			padding-right: 10px;
			-webkit-animation-name: mysecond;
    		-webkit-animation-duration: 5s;
    		-webkit-animation-timing-function: linear;
   			-webkit-animation-iteration-count: infinite;
    		-webkit-animation-direction: alternate;
    		-webkit-animation-play-state: running;
		}
		#Background #project3
		{
			padding-left:10px;
			padding-right: 10px;
			float: left; width: 25%; height: 300px; margin-left: 5%; background: rgba(0,0,0,0.6);
		}
	#Background h2{color: #FFFFFF; margin-left: 120px;}
	#Background p{color: #FFFFFF; font-size: 20px;}
	#Contact{width:100%; height:700px; background-color:rgba(0,0,0,0.2); display:block; overflow: auto; padding-top: 150px; color: #FFFFFF;}
		#Contact #contact{width: 30%; height: 200px; margin:auto; background: rgba(0,0,0,0.6); text-align: center; padding-top: 40px;}
			#Contact #contact p{color: #FFFFFF; font-size: 30px; margin-top: 20px;}
	
	#ending{width: 100%; height: 100px; background-color: rgba(78,44,44,1); padding-top: 40px;}
		#ending a{float: right; margin-right: 20px;}	
				
@-webkit-keyframes myfirst {
    0%   {top:0px;}
    25%  {top:50px;}
    50%  {top:90px;}
    75%  {top:120px;}
    100% {top:140px;}
}

@-webkit-keyframes mysecond {
    0%   {background-color: rgba(0,0,0,0.4);}
    25%  {background-color: rgba(256,0,0,0.4);}
    50%  {background-color: rgba(0,256,0,0.4);}
    75%  {background-color: rgba(0,0,256,0.4);}
    100% {background-color: rgba(0,0,0,0.4);}
}